%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      = link_to 'MovieBooking', root_path, class: 'navbar-brand'
    %ul.nav.navbar-nav
      %li
        = link_to 'Home', root_path
      %li
        = link_to 'Bookings', bookings_path
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to destroy_user_session_path, method: :delete do
          %span.glyphicon.glyphicon-log-out
          Logout
